@media screen and (min-width: 769px) and (max-width: 1199px) {

/* GENERAL CSS */

  @font-face {
    font-family: Helsinki;
    src: url(../fonts/helsinki.ttf);
  }

  @font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Bold.woff);
    src: url(../fonts/Inter-ExtraLight.woff);
    src: url(../fonts/Inter-Regular.woff);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    width: 100%;
    margin: 0px;
  }

  .main-font {
    font-family: Helsinki, sans-serif;
    color: white;
  }

  .secondary-font {
    font-family: Inter, sans-serif;
    color: white;
  }

  .custom-list {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0px;
  }

  #myBtn {
    display: none;
    position: fixed;
    z-index: 111111;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    font-size: 3rem;
  }

  #main-nav {
    font-size: 1.3rem;
    width:100%;
    height: 100px;
    position: fixed;
    overflow: hidden;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    transition: 300ms ease;
    justify-content: center;
    align-items: center;
  }

  #main-nav ul {
    margin: 0px auto;
    padding: 25px 0px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0px;
  }

  #main-nav ul li {
    margin: 10px 5px;
    padding: 15px 20px;
    color: white;
  }

  #main-nav ul li a {

    margin: 10px 5px;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    border: 2px solid rgba(0, 0, 0, 0);
  }

  #main-nav ul li a:hover {

    margin: 10px 5px;
    padding: 15px 20px;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
  }

  #main-nav ul li a:active {

    margin: 10px 5px;
    padding: 15px 20px;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
  }

  .logo {
    position: fixed;
    z-index: 111111;
    top: 15px;
    left: 25px;
    width: 75px;
    cursor: pointer;
  }

  .scrolled {
    background-color: #ffffff;
    transition: 300ms ease;
    box-shadow: 0 3px 20px -3px black;
  }

  .scrolled-text {
    color: #f22b7d !important;
  }

  /* DESKTOP CSS */


  #firstSection {
    width: 100%;
    background-position: center;
    margin: 0px auto;
    }

  #firstSection img {
    width: 100%;
  }

}
