
/* GENERAL CSS */

@media screen and (max-width: 768px) {

  @font-face {
    font-family: Helsinki;
    src: url(../fonts/helsinki.ttf);
  }

  @font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Bold.woff);
    src: url(../fonts/Inter-ExtraLight.woff);
    src: url(../fonts/Inter-Regular.woff);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    width: 100%;
    margin: 0px;
  }

  .main-font {
    font-family: Helsinki, sans-serif;
    color: white;
  }

  .secondary-font {
    font-family: Inter, sans-serif;
    color: white;
  }

  .custom-list {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0px;
  }

  #myBtn {
    display: none;
    position: fixed;
    z-index: 111111;
    bottom: 50px;
    right: 20px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    font-size: 3rem;
  }

  .hamburger {
    position: fixed;
    z-index: 9999999;
    top: 10px;
    right: 10px;
  }

  .hamburger-text {
    color: #02b3f7 !important;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;

  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

  #main-nav {
    width: 100%;
    height: 75px;
    background: #ffffff;
    display: none;
    position: fixed;
    z-index: 999999;
    transition: 300ms ease;
    align-items: center;
    justify-content: center;
  }


  #main-nav ul {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    margin: 0px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0px;
    list-style-position: inside;
    justify-content: center;
    align-items: center;
  }

  #main-nav ul li {
    margin: 0px auto;
    padding: 15px;
    margin: 0px;
    align-items: center;
  }

  #main-nav ul li a {
    text-decoration: none;
    color: #02b3f7;
  }


  .logo {
    display: none;
}

  .scrolled {
    background-color: #ffffff;
    transition: 300ms ease;
    box-shadow: 0 3px 20px -3px black;
}

  .scrolled-text {
    color: #02b3f7 !important;
  }

  /* DESKTOP CSS */

  #firstSection {
    width: 100%;
    min-height: 1200px;
    background-position: center;
    margin: 0px auto;
    }

  #firstSection img {
    display: none;
  }

  .girls-replaced {
    display: block;
    background-image: url(../mobile-img/Proizvodi2.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1200px;
    width: 100%;
  }

}
